@using Zlebuh.MinTacToe.GameEngine.Model

<section class="game-header">
	<div class="player-on-turn-info">
		@if (PlayerOnTurn.HasValue)
		{
			<p>
				<span>Player on turn:</span>
				<span class="highlighted" style="background-color: @PlayerOnTurn.ToColor()">@PlayerOnTurn.ToDisplayString()</span>
			</p>
		}
	</div>

	<div class="game-info-message">
		@if (UsedMessage is not null)
		{
			<p class="@(UsedMessage.Type.ToString().ToLower())">@UsedMessage.Message</p>
		}
	</div>

	@if (IsGameOver)
	{
		<button type="button" class="new-game-btn" onclick="location.reload()">Start a new game</button>
	}
	
</section>

@code {
	public class GameInfoMessage
	{
		public MarkupString Message = new(string.Empty);
		public GameInfoMessageType Type = GameInfoMessageType.Info;
	}

	public enum GameInfoMessageType
	{
		Info,
		Error,
	}

	[Parameter] public Player? PlayerOnTurn { get; set; }
	[Parameter] public bool IsGameOver { get; set; }
	[Parameter] public Player? Winner { get; set; }
	[Parameter] public GameInfoMessage? Message { get; set; }
	private GameInfoMessage? UsedMessage => GetInnerMessage() ?? Message;

	private GameInfoMessage? GetInnerMessage()
	{
		if (IsGameOver)
		{
			if (Winner.HasValue)
			{
				return new GameInfoMessage
				{
					Message = new MarkupString($"Game is over - <span style=\"padding: 2px 5px; color: white; background-color: {@Winner.ToColor()}\">{@Winner.ToDisplayString()}</span> wins!"),
					Type = GameInfoMessageType.Info
				};
			}
			else
			{
				return new GameInfoMessage
				{
					Message = new("Game is over. It's a draw."),
					Type = GameInfoMessageType.Info
				};
			}
		}
		else
		{
			return null;
		}
	}
}
