.highlighted {
    background-color: #ffffdc;
}

.td { 
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    margin: -1px 0px 0px -1px;
}

    .td span {
        font-size: calc(0.8 *min(100%, calc(100vh - 300px)));
        display: flex;
        justify-content: center; /* horizontálně na střed */
        align-items: center; /* vertikálně na střed */
        width: 80%;
        height: 80%;
        margin: 10%;
        color: white;
    }
