.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 0.5em;
    margin: 0 0 0.5em 0;
    background: #eaeaea;
    height: 80px;
    min-height: 80px;
    box-sizing: border-box;
}

.player-on-turn-info,
.game-info-message {
    width: 100%;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

p span.highlighted {
    padding: 2px 5px;
    color: white;
}

p.error {
    color: #b01212;
}
