.game-info{
    grid-row: 1;
}

.player-on-turn-info {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-info-message {
    height: 50px;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

p span.highlighted {
    padding: 2px 5px;
    color: white;
}

p.error {    
    color: #b01212;    
}